html,
body {
    height: 100%;
}
button {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 1.2em;
    width: 200px;
}
ul {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    width: 200px;
}
li {
    text-transform: capitalize;
    padding: 5px 10px;
    letter-spacing: 0.1em;
    color: #999;
    cursor: pointer;
    border: 1px solid #ccc;
}
li:hover {
    border-top-color: #000;
    border-bottom-color: #000;
    color: #000;
}
.hide {
    display: none;
}
.show {
    display: block;
}